* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
}

.header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px;
}

.error {
    background-color: #f2dede;
    color: #a94442;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ebccd1;
    border-radius: 5px;
}

.input-group {
    margin: 10px 0px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid gray;
    border-radius: 5px;
    width: 100%;
}

.btn {
    padding: 10px;
    font-size: 16px;
    color: white;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #45a049;
}

.register {
    text-align: center;
    margin-top: 10px;
}
