* {
	box-sizing: border-box;
}

body {
	margin: 0px;
	font-family: Arial, sans-serif;
	margin-left: auto;
	margin-right: auto;
}

.header {
	background-color: #008CBA;
	color: white;
	text-align: center;
	padding: 10px;
}

.navbar {
	overflow: hidden;
	background-color: #333;
	padding: 10px;
	text-align: center;
	}

.navbar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.navbar li{
	float: left;
}

.navbar li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.navbar li a:hover {
	background-color: #ddd;
	color: black;
}

.logout {
	float: right;
}

.content {
	padding: 20px;
	margin-left: auto;
	margin-right: auto ;
}

.footer {
	background-color: #ddd;
	padding: 10px;
	text-align: center;
}
